@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit",sans-serif;
}
@theme{
    --color-primary: #347474 ;
    --color-primary-dull:#42b883 ;
}
.no-scrollbar::-webkit-scrollbar{
    display: none;
}

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 5s ease infinite;
}


